<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.wind.crystalbox" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Product.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".Product.ProductAdd"
            android:label="@string/title_activity_product_m" >
        </activity>
        <activity
            android:name=".Product.ProductManagement"
            android:label="@string/title_activity_product_management" >
        </activity>
        <activity
            android:name=".Product.ProductManagementGet"
            android:label="@string/title_activity_product_management_get" >
        </activity>
        <activity
            android:name=".Order.OrderBill"
            android:label="@string/title_activity_order_bill" >
        </activity>
        <activity
            android:name=".Order.OrderAdd"
            android:label="@string/title_activity_order_add" >
        </activity>
        <activity
            android:name=".Order.OrderBill"
            android:label="@string/title_activity_order_bill" >
        </activity>
        <activity
            android:name=".Order.ProductAddItem"
            android:label="@string/title_activity_product_add_item" >
        </activity>
        <activity
            android:name=".Order.OrderAddItem"
            android:label="@string/title_activity_order_add_item" >
        </activity>
        <activity
            android:name=".Table.TableManagement"
            android:label="@string/title_activity_table_management" >
        </activity>
        <activity
            android:name=".Table.TableAdd"
            android:label="@string/title_activity_table_add" >
        </activity>
        <activity
            android:name=".Order.OrderListItem"
            android:label="@string/title_activity_order_list_item" >
        </activity>
        <activity
            android:name=".Bill.BillManagement"
            android:label="@string/title_activity_bill_management" >
        </activity>
        <activity
            android:name=".Queue.Queue"
            android:label="@string/title_activity_queue" >
        </activity>
        <activity
            android:name=".Report.Report"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name=".Queue.Served"
            android:label="@string/title_activity_served" >
        </activity>
    </application>

</manifest>
